.backgroundContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/homepage/bg_homepage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
}
